<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPF Social Club</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
</head>
<body>
    <section class="top-page">
        <header>
            <img src="logo_epf.png" alt="Logo du site">
            <nav class="nav_pc">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="actu.html">Actualités EPF</a></li>
                <li><a href="potes.html">Les potes</a></li>
                <li><a href="profil.html">Mon profil</a></li>
            </nav>
            <div class="mobile-menu-icon">&#9776;</div>
                <div class="dark">
                <div class="overlay">
                    <nav class="nav_mob">
                        <h2>MENU</h2>
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="actu.html">Actualités EPF</a></li>
                        <li><a href="potes.html">Les potes</a></li>
                        <li><a href="profil.html">Mon profil</a></li>
                    </nav>
                </div>
        </header>
        <div class="landing-page">
            <h1 class="big-title">EPF Social Club</h1>
        </div>
    </section>

    <section class="article1">
        <h3 class="titre">Création du réseau social de l'EPF !</h3>
        <div class="img_text">
            <img src="mec_content.avif" alt="">
            <p class="text"><br><br>Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit. ianuario, Februario, provinciam non habebit; Kalendis ei denique Martiis nascetur repente provincia.</p>
        </div>
    </section>